# Ignore node_modules folder
node_modules/

# Ignore npm logs
npm-debug.log*

# Ignore build or dist directories
dist/
build/

# Ignore OS-specific files
.DS_Store    # macOS
Thumbs.db    # Windows

# Ignore environment files (if you have any)
.env
